{% extends "base.html" %}
{% block main %}
<p>Вы — [{{ user.id }}] {{ user.name }}. <a href="{{ url_for("auth:logout") }}">Выйти</a></p>

<article>
<h1>Компьютерные сети, весна 2022/23</h1>

<h3>Домашние задания</h3>

<p><a href="{{ url_for("networking:vpn:setup") }}">Настройка VPN</a></p>

<ol>
    {%- for chapter in chapters %}
    <li><a href="{{ url_for('networking:' + chapter.slug + ':page') }}">{{ chapter.name }}</a></li>
    {%- endfor %}
</ol>

<p>
    Выполняйте задания самостоятельно. Вы можете искать информацию в интернете, задавать вопросы своим однокурсникам и
    любым другим людям, но все скрипты и команды должны быть написаны лично вами, и вы должны понимать, что они делают.
    В случае обнаружения плагиата (это может произойти и после того, как задание будет зачтено), мы можем аннулировать
    задание у обоих студентов или пригласить вас на защиту работы — вам нужно будет объяснить, что вы делали,
    и выполнить непосредственно во время защиты какие-то несложные похожие дополнительные задания.
</p>
<p>
    Тестирующая система не совершенна — вы можете исследовать её на наличие уязвимостей, но не нарушайте стабильность
    её работы, и не эксплуатируйте её уязвимости для получения баллов или правильных ответов без выполнения заданий.
    Если вы нашли уязвимость, пожалуйста, не рассказывайте всем, а напишите <a href="https://t.me/nsychev">Никите
    Сычёву</a>. Я постараюсь исправить её в кратчайшие сроки, а вы сможете получить бонусные баллы.
</p>
<p>
    Не генерируйте много трафика через выданный вам VPN-туннель. Передавать больше единиц мегабайт данных через
    него — плохая идея. Мы можем ограничивать пропускную способность туннеля студентам, которые нарушают это правило.
</p>

<h3>Письменный тест</h3>

<p>
    Письменный тест будет проведён онлайн за день до устного экзамена.
    Ссылка на тест будет опубликована здесь.
</p>

<p>
    Тест состоит из 15–20 вопросов, каждый из которых подразумевает готовый ответ либо решение небольшой практической задачи.
    Во время теста можно пользоваться любыми источниками информации.
</p>

<h3>Устный экзамен</h3>

<p>
    Устный экзамен будет проведён онлайн на следующий день после письменного теста.
    Номер вашего билета появится за 15 минут до времени сдачи.
</p>

<p>
    Вам будет необходимо рассказать полученный билет, а также ответить на дополнительные вопросы (как по вашему билету,
    так, возможно, обзорно и по другим).
</p>

<h3>Как получить оценку?</h3>

<p>
    Для домашних заданий будет установлен коэффициент <em>H</em> — все полученные вами баллы будут на него умножены. Он будет опубликован не позднее 12 мая, и будет установлен таким образом, что за все вовремя сданные домашние задания, опубликованные к тому моменту, вы получите не менее 60 баллов. При сдаче домашнего задания после дедлайна вы теряете четверть стоимости задания.</p>

<p>
    За письменный тест можно получить от 0 до 30 баллов. При этом суммарно за домашние задания и письменный тест можно получить не более 90 баллов.
</p>

<p>
    Для допуска к устному экзамену необходимо набрать суммарно за домашние задания и письменный тест более 74 баллов. По итогам сдачи устного экзамена можно получить любую оценку от имеющейся у вас до A.
</p>
<p>
    <strong>Обратите внимание:</strong> требования для получения оценки не зависят от ваших текущих баллов — на А нужно ответить одинаково хорошо вне зависимости от того, пришли вы на экзамен с 75 баллами или с 90.
</p>

<h3>Fast Track</h3>

<p>Если вы считаете, что уже и так хорошо знаете материал курса, вы можете поучаствовать в Fast Track. Формат состоит в разработке новых домашних заданий для нашего курса. Чтобы принять участие, напишите <a href="https://t.me/nsychev">Никите Сычёву</a> до 13 апреля.</p>

<p>
    В случае успешного выполнения задания, вы получите от 20 до 60 баллов. Точное количество баллов зависит от сложности задания, качества выполнения и соблюдения дедлайнов.
</p>

<p>Для студентов, получивших баллы за Fast Track, также снимается ограничение в 90 баллов без устного экзамена.</p>

<h3>Пересдача</h3>

<p>В рамках пересдачи можно досдать домашние задания и пересдать устный экзамен. Пересдачи письменного теста не будет.</p>

<p>Баллы за домашние задания пересчитываются без учёта дедлайнов. Суммарно за домашние задания и письменный тест (если вы писали его во время сессии) вы сможете получить не более 74 баллов.</p>

<p>Для допуска к устному экзамену необходимо набрать более 67 баллов. По итогам пересдачи устного экзамена можно получить любую оценку от имеющейся у вас до A.</p>

</article>
{% endblock %}
