{% extends "base.html" %}
{% set title = "Настройка окружения" %}
{% set breadcrumbs = true %}
{% block main %}
    <article>
    <h1>Настройка окружения</h1>

    <p>
        В каждом домашнем задании нашего курса будет практическая часть — вы получите
        доступ к сети с различными узлами, и вам будет необходимо будет выполнять
        задания в этой сети. 
    </p>

    <h3>Виртуальные машины</h3>

    <p>
        В некоторых заданиях вам понадобится подключаться сразу с нескольких устройств.
        Мы рекомендуем использовать для выполнения заданий виртуальные машины.
        Так заодно вы случайно не сломаете себе интернет на ноутбуке.
    </p>

    <p>
        Их можно запустить, например, с помощью <a href="https://www.virtualbox.org/">VirtualBox</a>.
        Подойдёт абсолютно любая ОС — если у вас достаточно ресурсов, можете поставить две Ubuntu Desktop.
        Если же нет — вполне подойдут и серверные версии — им достаточно выделить всего 512 МБ памяти и 5 ГБ
        дискового пространства. Вы можете поставить туда SSH-сервер и подключаться из терминала, либо
        использовать <code>screen</code>, <code>tmux</code> или аналоги для поддержания нескольких сессий терминала.
    </p>

    <p>
        Также у Canonical есть <a href="https://multipass.run/" target="_blank">Multipass</a> — оркестратор, который
        позволяет создавать легковесные виртуальные машины с Ubuntu Server на любой ОС.
    </p>

    <details>
        <summary>Не получается запустить даже виртуальные машины</summary>

        <p>
            Если у вас нет ресурсов даже на две маленькие виртуальные машины, вы можете воспользоваться контейнерами.
            Мы не рекомендуем этот способ из-за большого количества подводных камней. Тем не менее, если вы решитесь,
            то для запуска OpenVPN вам понадобится привилегия <code>NET_ADMIN</code> (для самих заданий её может
            и не хватить — наверняка хватит флага <code>--privileged</code>), а также устройство <code>/dev/net/tun</code>.
            Оно создаётся так:
        </p>
    
        <pre><code>mkdir -p /dev/net
mknod /dev/net/tun c 10 200
chmod 600 /dev/net/tun</code></pre>
    </details>

    <h3>OpenVPN</h3>

    <p>
        Для подключения к такой сети вам понадобится OpenVPN.
    </p>
    <aside>OpenVPN Connect — это другая программа. Она нам не подойдёт.</aside>
    <p>
        Если у вас Windows, <a href="https://openvpn.net/community-downloads/" target="_blank">скачайте его с официального сайта</a>.
        Если у вас Linux, найдите его в вашем пакетном менеджере.
    </p>
    <p>
        Если у вас Mac OS, скачайте <a href="https://tunnelblick.net" target="_blank">Tunnelblick</a> и установите
        <a href="https://tunnelblick.net/cKextsInstallation.html" target="_blank">расширение</a>. Также
        <a href="https://tunnelblick.net/cBigSur.html" target="_blank">выключите в настройках</a> опцию «Disable IPv6
        unless the server is accessed via IPv6» и в разделе «Advanced» включите опцию «Enable IPv6 (tap only)».
    </p>
    <p>
        На мобильных устройствах этот VPN не работает.
    </p>

    {% set meta = user.docker_meta %}
    {% if meta and meta.vpn %}
    <p>Ваши персональные конфигурационные файлы:</p>
    <p>
        <a href="{{ url_for("networking:vpn:linux") }}">Для Linux</a><br/>
        <a href="{{ url_for("networking:vpn:win") }}">Для Windows и Mac OS</a>
    </p>
    <p>Они останутся неизменными в течение всего курса.</p>
    {% else %}
    <p>
        Чтобы получить конфигурационные файлы, запустите любое домашнее задание.
        Файлы появятся прямо на этом месте или справа от условия задания.
    </p>
    {% endif %}

    <p>
        Скачайте нужный файл. На Windows и Mac OS для подключения воспользуйтесь графическим интерфейсом.
        На Linux используйте следующую команду с правами администратора:
    </p>

    <pre><code>openvpn --config path/to/config-linux.ovpn</code></pre>

    <p>
        Если вы успешно подключились, в логе появится надпись <code>Initialization Sequence Completed</code>.
        На Linux не закрывайте терминал — это прервёт соединение.
    </p>

    <p>
        Если что-то пошло не так, попробуйте перезапустить задание. Если это не помогло, напишите в чат.
        Не забудьте прикрепить лог OpenVPN — в виде вложения или ссылки.
    </p>

    <p>Удачного решения заданий!</p>

    </article>
{% endblock %}
