<h3 id="report">Отчёт</h3>

<aside>
    <p>Забыли, как вы что-то делали? Вы всегда можете сбросить ваш прогресс по этому заданию и пройти его заново.</p>
    <p><strong>Обратите внимание:</strong> это действие невозможно отменить.</p>
    <p><form method="POST" action="{{ url_for('networking:' + chapter + ':clear') }}"><button>Сбросить</button></form></p>
</aside>

<p>
    Расскажите, как вы выполняли это задание. Приложите выполненные команды, скрипты, утилиты и другие использованные
    вещи в произвольной форме.
</p>
<p>
    Эта часть задания не оценивается и не проверяется автоматически. Однако, если вы здесь ничего не напишете, у нас
    возникнут вопросы о том, как вы сделали задание и действительно ли вы делали его самостоятельно.
</p>

{{ render_form(report) }}
