{% extends "chapter.html" %}
{% set ace_modes = ["sh"] %}
{% block chapter %}
<p>Дедлайн — <strong>7 мая</strong>, 23:59 МСК.</p>

<p>
    Подключитесь к VPN. На этот раз в сети никого нет — кроме нескольких виртуальных свитчей, которые нас
    не особо интересуют. Но скоро клиенты появятся — выдавать адреса нужно вам.
</p>

<h3>Часть 1. Сервер</h3>

<p>
    Запустите собственный DHCP-сервер, который будет выдавать клиентам на интерфейсе VPN адреса из сети
    <code>{{ variant.ip4_net }}</code>. Вы можете реализовать его самостоятельно или взять любой готовый.
</p>

<p>
    Мы будем очень рады, если вы попробуете разобраться с не самым популярным решением.
</p>

<p>
    После этого настройте IPv6 — ваша подсеть <code>{{ variant.ip6_net }}</code>. В этой части вам нужно
    сделать так, чтобы клиенты получали адрес с помощью SLAAC. Для этого нужно отвечать на запросы
    <em>Router Solicitation</em> каждый раз, когда приходит новый клиент.
</p>

<p>
    Попробуйте подключить второе устройство к сети и убедитесь, что вы можете получить адрес, как и в
    предыдущем задании.
</p>

{{ checkpoint(tasks.ip4) }}
{{ checkpoint(tasks.ip6) }}

<h3>Проверка решения</h3>
{% set meta = user.docker_meta %}
{% if meta is not none and meta.state.name == 'READY' and meta.chapter == chapter.slug %}
    <p>
        Вы можете проверять обе части вашего решения сразу или по отдельности. Просто нажмите на кнопку —
        наш бот придёт в вашу сеть и попробует получить адреса. За каждый правильный адрес вы получите
        по галочке.
    </p>
    <form method="POST" action="{{ url_for("networking:dhcpd:check") }}">
        <input type="hidden" name="check" value="dhcpd" />
        <p><button>Проверить</button></p>
    </form>
{% elif meta is none or meta.chapter != chapter.slug %}
    <p>Чтобы запустить проверку, активируйте задание.</p>
{% else %}
    <p>Сейчас идёт активация или проверка задания. Пожалуйста, подождите.</p>
{% endif %}

{% if logs.dhcpd %}
<details>
    <summary>Лог последней проверки в {{ logs.dhcpd.created }} (UTC)</summary>
    <pre><code>{{ logs.dhcpd.text }}</code></pre>
</details>
{% endif %}

<h3>Часть 2. Данные клиента</h3>

<p>
    Дело за малым — настроить логи. Скажите MAC-адрес нашего бота. Если вы уже получили баллы,
    а MAC-адрес не узнали — не беда. Нажмите кнопку «Проверить» ещё раз, и бот снова подключится.
</p>

{{ checkpoint(tasks.mac) }}

{% if tasks.mac.is_solved %}
<p>Задание решено.</p>
{% else %}
{{ render_form(forms.mac) }}
{% endif %}

<p>
    Не забудьте выключить и (если это был сервис) деактивировать сервер — иначе можно случайно
    сломать себе домашнюю сеть.
</p>
{% endblock %}
