{% extends "chapter.html" %}
{% set ace_modes = ["sh"] %}
{% block chapter %}
<p>Дедлайн — <strong>26 апреля</strong>, 23:59 МСК. После этого задания будут стоить на четверть дешевле.</p>

<p>В этом задании мы познакомимся с протоколом DNS.</p>

<h3>Часть 1. Структура DNS-серверов</h3>

<p>
    В прошлых заданиях мы преимущественно работали с IP-адресами. Однако, при повседневной работе в Интернете обычные пользователи редко их видят — вместо этого используются доменные имена.
    Например, <em>nerc.itmo.ru</em> или <em>telegram.org</em>.
</p>

<p>
    За соответствие доменных имён IP-адресам отвечает протокол <em>DNS</em> (от англ. <em>система доменных имён</em>).
</p>

<p>
    За хранение данных о доменах отвечают <em>авторитативные</em> DNS-серверы. Они могут сообщать различные данные о доменах: например, IP-адрес вебсайта, расположенного на данном домене, адрес почтового сервера, настройки приёма почты, и так далее. Каждая из этих опций находится в собственной DNS-записи. Всего стандартизировано около <a href="https://en.wikipedia.org/wiki/List_of_DNS_record_types" target="_blank">50 типов таких записей</a>.
</p>

<aside>
    Например, в России за домены .ru, .рф и .su отвечает структура Роскомнадзора. Некоторые зоны покупают частные компании — например, есть TLD .gle, принадлежащая Google. Они её используют для ссылок на свои сервисы — например, <a href="https://forms.gle/AtQj1PfGt72WT5h68" target="_blank"><code>forms.gle/AtQj1PfGt72WT5h68</code></a>. Многие же владельцы зон продают права на регистрацию доменов <em>регистраторам</em> — а те уже продают домены конечным пользователям — которым может быть каждый из вас.
</aside>

<p>
    В интернете выдача доменных имён централизована — некоммерческая организация <a href="https://www.icann.org/" target="_blank">ICANN</a> устанавливает список зон «верхнего уровня» (.ru, .org и другие — <em>top-level domains</em> (TLD)). За каждую зону назначается ответственная организация.
</p>

<p>
    Информация о зонах верхнего уровня хранится на <em>корневых серверах</em> — ими управляют 13 разных организаций, а сервера и их реплики расположены <a href="https://commons.wikimedia.org/wiki/File:Root-current.svg" target="_blank">по всему миру</a>. Эти сервера расположены на доменах с <code>a.root-servers.net</code> по <code>m.root-servers.net</code>.
</p>

<p>
    Корневые сервера знают о DNS-серверах каждой зоны. В свою очередь, DNS-сервера каждой зоны знают о DNS-серверах каждого домена второго уровня (например, <code>itmo.ru</code>). В свою очередь, эти сервера могут знать непосредственно информацию о своём домене и поддомене, либо знать DNS-сервера поддоменов. Эту иерархию можно продолжать бесконечно.
</p>

<p>
    Однако, в таком виде эта система быстро бы сломалась: на каждый запрос пользователя могут быть сгенерированы десятки DNS-запросов к различным серверам. Например, мы хотим отправить почту по адресу <code>1337@itmo.ru</code>. Для этого нам нужно узнать почтовый сервер домена <code>itmo.ru</code> — чтобы узнать его, нам нужно пройтись по всей цепочке серверов — но вместо IP-адреса там оказывается <code>emx.mail.ru</code> — а это означает, что нам нужно ещё раз пройтись по всей цепочке, чтобы узнать и его IP.
</p>

<p>
    Чтобы решить эту проблему, существуют <em>рекурсивные</em> DNS-серверы. Они «инкапсулируют» запросы: мы можем спросить у такого сервиса про абсолютно любой домен. А он сам — если это нужно — сходит по цепочке серверов и узнает всю нужную информацию. Более того, он закеширует все ответы — включая промежуточные — чтобы соптимизировать количество запросов.
</p>

<p>
    Многие компании и провайдеры устанавливают собственные рекурсивные сервера, чтобы экономить трафик. А для тех, кто не хочет ими пользоваться, есть много публичных бесплатных серверов. Например, всем известные Google DNS (8.8.8.8, 8.8.4.4) или Cloudflare DNS (1.1.1.1, 1.0.0.1).
</p>

<p>
    Как правило, клиентские машины никогда не ходят по цепочке серверов, и всегда
    пользуются только рекурсивным DNS-сервером, указанным в настройках подключения.
    Обычно DHCP-сервер сообщает, каким DNS-сервером можно пользоваться — как правило,
    это либо сервера вашего провайдера, либо рекурсивный сервер прямо на вашем роутере.
    Посмотреть и изменить используемый сервер можно в настройках интернет-подключения.
</p>

<p>Первое задание очень простое — узнайте IP-адрес нашего домена с заданиями (<code>nerc.itmo.ru</code>).</p>

{{ checkpoint(tasks.ip) }}

{% if not tasks.ip.is_solved %}
{{ render_form(forms.ip) }}
{% endif %}

<p>А теперь попробуйте сделать это без использования рекурсивных серверов. Начните с любого из корневых серверов. В ответе укажите через запятую доменные имена (не IP-адреса) всех DNS-серверов, запросы к которым вы сделаете. Например, <code>a.root-servers.net, m.gtld-servers.net, ns2.google.com</code>.</p>

<p><em>Примечание.</em> Вместе с доменными именами DNS-серверов в секции <em>Additional</em> вам возвращаются IP-адреса этих серверов. Используйте их — узнавать отдельно IP-адреса самих доменных серверов не нужно.</p>

{{ checkpoint(tasks.servers) }}

{% if not tasks.servers.is_solved %}
{{ render_form(forms.servers) }}
{% endif %}

<h3>Часть 2. DNS-сервер</h3>

<p>
    В целом, никто не мешает любому DNS-серверу отдавать абсолютно произвольные
    записи — по аналогии с тем, как мы можем свободно назначать IP-адреса в
    локальных сетях по договорённности, мы можем сделать сервер, отдающий какие
    угодно записи.
</p>

<p>
    Этим часто пользуются внутри компаний — через DHCP-сервер выдают клиентам
    DNS-сервер, который знает об определённой зоне, в которой расположены
    различные локальные ресурсы, доступные из сети компании.
    С таким сервером вы уже сталкивались в задании <em>DHCP-клиент</em>.
</p>

<p>
    Давайте попробуем сделать такой сервер самостоятельно.
    Подключитесь к VPN и установите себе IP-адрес <code>10.52.1.1/24</code>.
    Сначала поднимите на своём устройстве <em>рекурсивный</em> DNS-сервер —
    он должен просто отвечать на запросы про любые домены в интернете.
</p>

<p>
    Вы можете настроить его так, чтобы он проксировал запросы на любой публичный
    рекурсивный сервер, либо сделать так, чтобы он ходил в корневые сервера и извлекал
    информацию по цепочке самостоятельно.
</p>

<p>
    Мы будем очень рады, если вы попробуете разобраться с не самым популярным решением.
</p>

{{ checkpoint(tasks.recursive) }}

<p>
    Теперь давайте внесём небольшие правки в наш сервер. Он должен остаться
    рекурсивным, но при этом отвечать на запросы про домен <code>{{ variant.domain }}</code>.
    А именно, он должен отдавать IP-адреса <code>{{ variant.ip4 }}</code> и <code>{{ variant.ip6 }}</code>.
    Проверьте, что при установке вашего DNS-сервера в браузере открывается страница “Welcome to our website!”.
</p>

{{ checkpoint(tasks.authoritative) }}

<p>
    Теперь для этого же домена нужно настроить почту — укажите почтовый сервер <code>mx.example.org</code> и приоритет 10.
</p>

{{ checkpoint(tasks.mail) }}

<p>
    Назначьте вашему серверу доменное имя — <code>ns.{{ variant.domain }}</code>. Добавьте запись с вашим IP.
    Также ваш сервер должен уметь отвечать на запросы NS и SOA-записи для домена <code>{{ variant.domain }}</code>.
    В качестве адреса администратора используйте <code>noreply@{{ variant.domain }}</code>. Остальные параметры SOA-записи
    настройте на своё усмотрение.
</p>

<p>
    Добавьте ещё один поддомен — <code>{{ variant.subdomain }}.{{ variant.domain }}</code> должен указывать на адрес <code>{{ variant.subip6 }}</code>.
</p>

{{ checkpoint(tasks.subdomain) }}

<p>
    Для отказоустойчивости DNS-серверы дублируют. Как мы уже знаем, у доменов TLD их 5–10, а корневых серверов целых 13! По правилам многих регистраторов, у каждого домена второго уровня должно быть хотя бы два авторитативных сервера.
</p>

<p>
    Вручную поддерживать такие реплики сложно и неудобно — можно ошибиться, и разные сервера будут отдавать разные данные, что приведёт к непредсказуемому поведению у пользователей. Вместо этого в DNS разработали операцию <em>трансфера зоны</em> — с её помощью сервера-реплики могут самостоятельно синхронизироваться с основным DNS-сервером.
</p>

<p>Поддержите трансфер зоны: разрешите получать всю информацию о зоне <code>{{ variant.domain }}</code> серверу <code>10.52.1.2</code>.</p>

{{ checkpoint(tasks.transfer) }}

<h3>Проверка решения</h3>
{% set meta = user.docker_meta %}
{% if meta is not none and meta.state.name == 'READY' and meta.chapter == chapter.slug %}
    <p>
        Все задания проверяются «сверху вниз» — очередное задание будет проверено, только если на момент проверки работают все предыдущие.
    </p>
    <form method="POST" action="{{ url_for("networking:dns:check") }}">
        <input type="hidden" name="check" value="dns" />
        <p><button>Проверить</button></p>
    </form>
{% elif meta is none or meta.chapter != chapter.slug %}
    <p>Чтобы запустить проверку, активируйте задание.</p>
{% else %}
    <p>Сейчас идёт активация или проверка задания. Пожалуйста, подождите.</p>
{% endif %}

{% if logs.dns %}
<details>
    <summary>Лог последней проверки в {{ logs.dns.created }} (UTC)</summary>
    <pre><code>{{ logs.dns.text }}</code></pre>
</details>
{% endif %}

{% endblock %}
