{% extends "chapter.html" %}
{% set ace_modes = ["sh"] %}
{% block chapter %}
{% set meta = user.docker_meta %}

<p>Дедлайн — <strong>TBA</strong>, 23:59 МСК. После этого задания будут стоить на четверть дешевле.</p>

<p>
    В этом задании у нас есть две независимых сети на уровне L2 (то есть два отдельных свитча с разными устройствами).
    Далее, мы будем называть эти сети <code>сеть A</code> и <code>сеть B</code>.
</p>
<ul>
    <li><code>Сеть A</code> &mdash; <code>{{ variant.ip4_a_network }}</code>;</li>
    <li><code>Сеть B</code> &mdash; <code>{{ variant.ip4_b_network }}</code>.</li>
</ul>

<p>
    Вам предстоит подключить ваше устройство в две сети и настроить его так, чтобы оно пересылало некоторые IP пакеты из одной сети в другую, то есть выполняло функции файрвола.
    Этому устройству нужно будет установить IP адреса <code>{{ variant.ip4_a_firewall }}</code> и <code>{{ variant.ip4_b_firewall }}</code> на соответствующих интерфейсах.
    Устройства в сети будут считать эти адреса гейтвеем и слать туда все IP пакеты по умолчанию.
</p>

<p>
    Для целей самостоятельного тестировая вы можете подключать в сети своих устройства.
    Мы гарантируем, что адреса <code>{{ variant.ip4_a_free }}</code> и <code>{{ variant.ip4_b_free }}</code> не будут заняты другими устройствами.
    Также есть несколько устройств, которые подключены постоянно, и вы можете их пинговать, чтобы проверить корректность настройки сетей.
    В <code>сети A</code> такое устройство имеет IP <code>{{ variant.ip4_a_client }}</code>, в <code>сети B</code> &mdash; <code>{{ variant.ip4_b_client }}</code>.
</p>

<h3>Часть 1. Две сети</h3>

<p>
    Для выполнения этого задания вам понадобится поддерживать два VPN подключения, эмулирующих подключение к двум независимым свичам.
    Подключение выполняется через один и тот же VPN конфиг, однако при подключении нужно будет задать название сети, которой вы хотите подключиться, через переменную окружения <code>UV_NETWORK</code>.
    Наши сети имею название <code>internalA</code> и <code>internalB</code>.
</p>
<details>
<summary>Пример команды для подключения в Linux</summary>
<pre><code>sudo UV_NETWORK=internalA openvpn --config config-linux.ovpn --daemon
sudo UV_NETWORK=internalB openvpn --config config-linux.ovpn --daemon</code></pre>
</details>


<p>
    Подключите свое устройство к сети и установите необходимые ip адреса.
    При желании, вы можете самостоятельно проверить, подключив еще одно свое устройство в какую-нибудь из сетей.
</p>

<p>
    Автоматическая проверка ниже подключит в <code>сеть B</code> еще одно устройство и попытается пропинговать ваш сервер и несколько других наших устройств.
    Чекпоинт будет пройден, если ваш сервер имеет в <code>сети B</code> IP адрес <code>{{ variant.ip4_b_firewall }}</code> и не имеет адрес <code>{{ variant.ip4_a_firewall }}</code>.
</p>

{{ checkpoint(tasks.setup) }}

{% if not tasks.setup.is_solved %}
{% if meta is not none and meta.state.name == 'READY' and meta.chapter == chapter.slug %}
    <form method="POST" action="{{ url_for("networking:firewall:check") }}">
        <input type="hidden" name="check" value="setup" />
        <p><button>Проверить</button></p>
    </form>
{% elif meta is not none and meta.chapter != chapter.slug %}
    <p>Чтобы запустить проверку, активируйте задание.</p>
{% else %}
    <p>Сейчас идёт активация или проверка задания. Пожалуйста, подождите.</p>
{% endif %}
{% endif %}
{% if logs.setup %}
<details>
    <summary>Лог последней проверки в {{ logs.setup.created }} (UTC)</summary>
    <pre><code>{{ logs.setup.text }}</code></pre>
</details>
{% endif %}

<p>
    А теперь давайте позволим устройствам из разых сетей общаться друг с другом.
    Для этого включите перенаправления трафика (forwarding) на вашем устройстве-файрволе.
</p>
<p><strong>Примечание:</strong> если раньше игрались с форвардингом проверьче, что у вас разрешен форфардинг ICMP, TCP и UDP пакетов между сетями <code>tap0</code> и <code>tap1</code>.</p>

<p>Чтобы проверить, что форвардинг работает в обще стороны, два наших бота пошлют несколько пакетов из одной сети в другую.
Если все хорошо, то вы закроете еще два чекпоинта.</p>

{{ checkpoint(tasks.forward_a_to_b) }}

{% if not tasks.forward_a_to_b.is_solved %}
{% if meta is not none and meta.state.name == 'READY' and meta.chapter == chapter.slug %}
    <form method="POST" action="{{ url_for("networking:firewall:check") }}">
        <input type="hidden" name="check" value="forward_a_to_b" />
        <p><button>Проверить</button></p>
    </form>
{% elif meta is not none and meta.chapter != chapter.slug %}
    <p>Чтобы запустить проверку, активируйте задание.</p>
{% else %}
    <p>Сейчас идёт активация или проверка задания. Пожалуйста, подождите.</p>
{% endif %}
{% endif %}
{% if logs.forward_a_to_b %}
<details>
    <summary>Лог последней проверки в {{ logs.forward_a_to_b.created }} (UTC)</summary>
    <pre><code>{{ logs.forward_a_to_b.text }}</code></pre>
</details>
{% endif %}

{{ checkpoint(tasks.forward_b_to_a) }}

{% if not tasks.forward_b_to_a.is_solved %}
{% if meta is not none and meta.state.name == 'READY' and meta.chapter == chapter.slug %}
    <form method="POST" action="{{ url_for("networking:firewall:check") }}">
        <input type="hidden" name="check" value="forward_b_to_a" />
        <p><button>Проверить</button></p>
    </form>
{% elif meta is not none and meta.chapter != chapter.slug %}
    <p>Чтобы запустить проверку, активируйте задание.</p>
{% else %}
    <p>Сейчас идёт активация или проверка задания. Пожалуйста, подождите.</p>
{% endif %}
{% endif %}
{% if logs.forward_b_to_a %}
<details>
    <summary>Лог последней проверки в {{ logs.forward_b_to_a.created }} (UTC)</summary>
    <pre><code>{{ logs.forward_b_to_a.text }}</code></pre>
</details>
{% endif %}


<h3>Часть 2. Сетевые огрничения</h3>

<p>Если вы просто включили пересылку пакетов в предыдущем задани, то вы неявно позволили устройствам обеих сетей слать пакеты в интернет.
    Поскольку у нас пока не настроен NAT, то пользы от этого не очень много: ответ на UDP пакет не дойдет, а TCP соединение установить не получится.
</p>

<p>Тем не менее, давайте ограничим сети и запретим слать пакеты любым хостам вне наших приватных сетей.</p>

<p>Теперь давайте дополнительно ограничим нашу <code>сеть B</code>.
    Для этого запретите установку TCP соединений из <code>сети B</code> в <code>сеть A</code>.
    При этом у устройств <code>сети A</code> все еще должна быть возможность открывать соединения в <code>сеть B</code>.
</p>

{{ checkpoint(tasks.tcp_unidirectional) }}

{% if not tasks.tcp_unidirectional.is_solved %}
{% if meta is not none and meta.state.name == 'READY' and meta.chapter == chapter.slug %}
    <form method="POST" action="{{ url_for("networking:firewall:check") }}">
        <input type="hidden" name="check" value="tcp_unidirectional" />
        <p><button>Проверить</button></p>
    </form>
{% elif meta is not none and meta.chapter != chapter.slug %}
    <p>Чтобы запустить проверку, активируйте задание.</p>
{% else %}
    <p>Сейчас идёт активация или проверка задания. Пожалуйста, подождите.</p>
{% endif %}
{% endif %}
{% if logs.tcp_unidirectional %}
<details>
    <summary>Лог последней проверки в {{ logs.tcp_unidirectional.created }} (UTC)</summary>
    <pre><code>{{ logs.tcp_unidirectional.text }}</code></pre>
</details>
{% endif %}

<p>В <code>сети B</code> есть очень уязвимое устройство, которое имеет ip <code>{{ variant.ip4_b_client2 }}</code>.
Защитите его и запретите пересылку UDP пакетов на все порты, кроме <code>3001</code> и <code>{{ variant.allow_udp_port2 }}</code>.</p>

{{ checkpoint(tasks.udp_ports) }}

{% if not tasks.udp_ports.is_solved %}
{% if meta is not none and meta.state.name == 'READY' and meta.chapter == chapter.slug %}
    <form method="POST" action="{{ url_for("networking:firewall:check") }}">
        <input type="hidden" name="check" value="udp_ports" />
        <p><button>Проверить</button></p>
    </form>
{% elif meta is not none and meta.chapter != chapter.slug %}
    <p>Чтобы запустить проверку, активируйте задание.</p>
{% else %}
    <p>Сейчас идёт активация или проверка задания. Пожалуйста, подождите.</p>
{% endif %}
{% endif %}
{% if logs.udp_ports %}
<details>
    <summary>Лог последней проверки в {{ logs.udp_ports.created }} (UTC)</summary>
    <pre><code>{{ logs.udp_ports.text }}</code></pre>
</details>
{% endif %}

<p>Иногда из <code>сети A</code> в <code>сеть B</code> приходят TCP-фреймы с вредным содержимым.
Известно, что внутри таких фреймов содержится фраза <code>{{ variant.tcp_bad_word }}</code>. Запретите все такие пакеты.
</p>

{{ checkpoint(tasks.tcp_body_filter) }}

{% if not tasks.tcp_body_filter.is_solved %}
{% if meta is not none and meta.state.name == 'READY' and meta.chapter == chapter.slug %}
    <form method="POST" action="{{ url_for("networking:firewall:check") }}">
        <input type="hidden" name="check" value="tcp_body_filter" />
        <p><button>Проверить</button></p>
    </form>
{% elif meta is not none and meta.chapter != chapter.slug %}
    <p>Чтобы запустить проверку, активируйте задание.</p>
{% else %}
    <p>Сейчас идёт активация или проверка задания. Пожалуйста, подождите.</p>
{% endif %}
{% endif %}
{% if logs.tcp_body_filter %}
<details>
    <summary>Лог последней проверки в {{ logs.tcp_body_filter.created }} (UTC)</summary>
    <pre><code>{{ logs.tcp_body_filter.text }}</code></pre>
</details>
{% endif %}


<h3>Часть 3. NAT</h3>

<p>Давайте улучшим наш файервол и настроем на нем трансляцию сетевых адресов.
Настройте форвардинг так, чтобы в пакетах, исходящих из <code>сетей A</code> и <code>B</code>
    при переходе через файервол подменялся адрес источника.
</p>

{{ checkpoint(tasks.forward_nat) }}

{% if not tasks.forward_nat.is_solved %}
{% if meta is not none and meta.state.name == 'READY' and meta.chapter == chapter.slug %}
    <form method="POST" action="{{ url_for("networking:firewall:check") }}">
        <input type="hidden" name="check" value="forward_nat" />
        <p><button>Проверить</button></p>
    </form>
{% elif meta is not none and meta.chapter != chapter.slug %}
    <p>Чтобы запустить проверку, активируйте задание.</p>
{% else %}
    <p>Сейчас идёт активация или проверка задания. Пожалуйста, подождите.</p>
{% endif %}
{% endif %}
{% if logs.forward_nat %}
<details>
    <summary>Лог последней проверки в {{ logs.forward_nat.created }} (UTC)</summary>
    <pre><code>{{ logs.forward_nat.text }}</code></pre>
</details>
{% endif %}


<p>
    Есть подоздрение, что в <code>сети B</code> кто-то хочет узнать больше о структуре нашей сети.
    Давайте помешаем этим людям, немного модифицировав ICMP пакеты, проходящие через наш файервол из <code>сети B</code> в <code>сеть A</code>.
    Во первых, сделайте так, что TTL всех ICMP пакетов, выходящих из файервола был равен {{ variant.icmp_ttl }}.
    Во вторых, давайте будем терять 25% ICMP пакетов.
</p>

{{ checkpoint(tasks.icmp_config) }}

{% if not tasks.icmp_config.is_solved %}
{% if meta is not none and meta.state.name == 'READY' and meta.chapter == chapter.slug %}
    <form method="POST" action="{{ url_for("networking:firewall:check") }}">
        <input type="hidden" name="check" value="icmp_config" />
        <p><button>Проверить</button></p>
    </form>
{% elif meta is not none and meta.chapter != chapter.slug %}
    <p>Чтобы запустить проверку, активируйте задание.</p>
{% else %}
    <p>Сейчас идёт активация или проверка задания. Пожалуйста, подождите.</p>
{% endif %}
{% endif %}
{% if logs.icmp_config %}
<details>
    <summary>Лог последней проверки в {{ logs.icmp_config.created }} (UTC)</summary>
    <pre><code>{{ logs.icmp_config.text }}</code></pre>
</details>
{% endif %}

<p>
    В части 2 мы запретили доступ из наших приватных сетей в интернет.
    Давате теперь разрешим из <code>сети A</code> отправлять HTTP и HTTPS запросы на порты 80 и 443 к только одному адресу в интернете, на котором существует сайт <code>{{ variant.http_access_host }}</code>.
</p>

{{ checkpoint(tasks.http_access) }}

{% if not tasks.http_access.is_solved %}
{% if meta is not none and meta.state.name == 'READY' and meta.chapter == chapter.slug %}
    <form method="POST" action="{{ url_for("networking:firewall:check") }}">
        <input type="hidden" name="check" value="http_access" />
        <p><button>Проверить</button></p>
    </form>
{% elif meta is not none and meta.chapter != chapter.slug %}
    <p>Чтобы запустить проверку, активируйте задание.</p>
{% else %}
    <p>Сейчас идёт активация или проверка задания. Пожалуйста, подождите.</p>
{% endif %}
{% endif %}
{% if logs.http_access %}
<details>
    <summary>Лог последней проверки в {{ logs.http_access.created }} (UTC)</summary>
    <pre><code>{{ logs.http_access.text }}</code></pre>
</details>
{% endif %}

{% endblock %}
