{% extends "chapter.html" %}
{% set ace_modes = ["sh"] %}
{% block chapter %}
{% set meta = user.docker_meta %}

{% macro check_button(task_name) %}
{% set meta = user.docker_meta %}
{% if not tasks[task_name].is_solved %}
{% if meta is not none and meta.state.name == 'READY' and meta.chapter == chapter.slug %}
    <form method="POST" action="{{ url_for("networking:firewall:check") }}">
        <input type="hidden" name="check" value="{{ task_name }}" />
        <p><button>Проверить</button></p>
    </form>
{% elif meta is none or meta.chapter != chapter.slug %}
    <p>Чтобы запустить проверку, активируйте задание.</p>
{% else %}
    <p>Сейчас идёт активация или проверка задания. Пожалуйста, подождите.</p>
{% endif %}
{% endif %}
{% endmacro %}


<p>Дедлайн — <strong>21 мая</strong>, 23:59 МСК. После этого задания будут стоить на четверть дешевле.</p>

<p>
    В этом задании вам доступно две независимых сети на уровне L2 (то есть два отдельных свитча с разными устройствами).
    Далее мы будем называть эти сети <em>сеть A</em> и <em>сеть B</em>.
</p>
<ul>
    <li><em>Сеть A</em> &mdash; <code>{{ variant.ip4_a_network }}</code>;</li>
    <li><em>Сеть B</em> &mdash; <code>{{ variant.ip4_b_network }}</code>.</li>
</ul>

<p>
    Вам необходимо подключить ваше устройство в обе сети и настроить его так, чтобы оно пересылало некоторые IP-пакеты из
    одной сети в другую, то есть выполняло функции файрвола. Этому устройству нужно будет установить IP-адреса
    <code>{{ variant.ip4_a_firewall }}</code> и <code>{{ variant.ip4_b_firewall }}</code> на соответствующих интерфейсах.
    Все наши устройства будут считать эти адреса гейтвеем и слать туда все пакеты по умолчанию.
</p>

<p>
    Вы также можете подключать в эти сети свои устройства. Адреса <code>{{ variant.ip4_a_free }}</code> и <code>{{ variant.ip4_b_free }}</code>
    не будут заняты другими устройствами — можете смело их использовать. Также есть несколько устройств, которые подключены постоянно, и вы
    можете их пинговать, чтобы проверить корректность настройки сетей. В <em>сети A</em> такое устройство имеет IP-адрес
    <code>{{ variant.ip4_a_client }}</code>, в <em>сети B</em> &mdash; <code>{{ variant.ip4_b_client }}</code>.
</p>

<h3>Часть 1. Две сети</h3>

<p>
    Для выполнения задания вам понадобится поддерживать два VPN-подключения, эмулирующих подключение к двум независимым свитчам. Подключение
    выполняется через один и тот же VPN-конфиг, однако при подключении нужно будет задать название сети, к которой вы хотите подключиться, с
    помощью переменной <code>UV_NETWORK</code>. Наши сети имеют названия <code>internalA</code> и <code>internalB</code>.
</p>
<details>
<summary>Пример команд для подключения в Linux</summary>
<pre><code>sudo openvpn --config config-linux.ovpn --setenv UV_NETWORK internalA
sudo openvpn --config config-linux.ovpn --setenv UV_NETWORK internalB</code></pre>

<p>
    К командам можно добавить опцию <code>--daemon</code>, чтобы подключение происходило в фоновом режиме.
</p>

<p>
    Мы не рекомендуем выполнять это задание на Windows или Mac OS. Однако, если вы всё-таки захотите, то вам понадобится
    <em>скопировать</em> ваш конфиг и добавить в каждый экземпляр строку с нужной директивой — <code>setenv UV_NETWORK internalA</code>
    или <code>setenv UV_NETWORK internalB</code>.
</p>
</details>

<p>
    Подключите свое устройство к сети и установите необходимые IP-адреса. При желании вы можете самостоятельно проверить настройку,
    подключив ещё одно устройство в любую из сетей.
</p>

<p>
    Нажмите на кнопку, чтобы проверить задание. Мы подключим в <em>сеть B</em> еще одно устройство и пропингуем ваш сервер и несколько
    других наших устройств. Чекпоинт будет пройден, если ваш сервер имеет в <em>сети B</em> IP-адрес <code>{{ variant.ip4_b_firewall }}</code>
    и только его.
</p>

{{ checkpoint(tasks.setup) }}
{{ check_button("setup") }}
{{ check_log(logs.setup) }}

<p>
    Давайте теперь разрешим устройствам из разных сетей общаться друг с другом. Для этого включите перенаправление трафика (форвардинг) на вашем устройстве-файрволе.
</p>
<details>
    <summary>Если вы уже меняли настройки форвардинга</summary>
    <p>Убедитесь, что у вас разрешён форвадинг ICMP, TCP и UDP-пакетов между двумя VPN-интерфейсами.</p>
</details>

<p>Для проверки этих чекпоинтов наши боты отправят несколько пакетов из одной сети в другую.</p>

{{ checkpoint(tasks.forward_a_to_b) }}
{{ check_button("forward_a_to_b") }}
{{ check_log(logs.forward_a_to_b) }}

{{ checkpoint(tasks.forward_b_to_a) }}
{{ check_button("forward_b_to_a") }}
{{ check_log(logs.forward_b_to_a) }}


<h3>Часть 2. Ограничиваем подключения</h3>

<p>
    Если вы в предыдущем задании просто включили пересылку пакетов, то вы неявно позволили устройствам обеих сетей слать пакеты в интернет.
    Поскольку у нас пока не настроен NAT, то пользы от этого не очень много: ответ на UDP пакет не дойдет, а TCP-соединение установить не получится.
    Тем не менее, запретите слать пакеты любым хостам куда-либо вне наших приватных сетей.
</p>

<p>
    Давайте ограничим <em>сеть B</em>. Запретите установку TCP-соединений из <em>сети B</em> в <em>сеть A</em>.
    При этом у устройств <em>сети A</em> должна остаться возможность открывать соединения в <em>сеть B</em>.
</p>

{{ checkpoint(tasks.tcp_unidirectional) }}
{{ check_button("tcp_unidirectional") }}
{{ check_log(logs.tcp_unidirectional) }}

<p>
    В <em>сети B</em> есть очень уязвимое устройство, которое имеет IP-адрес <code>{{ variant.ip4_b_client2 }}</code>.
    Защитите его: запретите пересылку UDP-пакетов на все порты, кроме <code>3001</code> и <code>{{ variant.allow_udp_port2 }}</code>.
</p>

{{ checkpoint(tasks.udp_ports) }}
{{ check_button("udp_ports") }}
{{ check_log(logs.udp_ports) }}

<p>
    Иногда из <em>сети A</em> в <em>сеть B</em> приходят TCP-фреймы с вредным содержимым.
    Известно, что внутри таких фреймов содержится фраза <code>{{ variant.tcp_bad_word }}</code>.
    Запретите все такие пакеты.
</p>

{{ checkpoint(tasks.tcp_body_filter) }}
{{ check_button("tcp_body_filter") }}
{{ check_log(logs.tcp_body_filter) }}


<h3>Часть 3. NAT</h3>

<p>
    За пределами вашей локальной сети, как правило, о ваших локальных адресах никто не знает.
    Чтобы понимать, куда нужно возвращать пакет, используют трансляцию сетевых адресов (NAT) —
    при прохождении пакетов из одного интерфейса в другой роутер заменяет исходящий адрес
    IP-пакета на свой — таким образом, получатель пакета узнает, куда нужно вернуть пакет.
</p>

<p>
    Настройте NAT: при отправке пакетов из обоих сетей при проходе через файрвол исходящий адрес
    должен заменяться на адрес роутера.
</p>

{{ checkpoint(tasks.forward_nat) }}
{{ check_button("forward_nat") }}
{{ check_log(logs.forward_nat) }}

<p>
    Файрвол используется для модификации пакетов. Измените TTL всех ICMP-пакетов, проходящих через файрвол из <em>сети A</em>
    в <em>сеть B</em>, на {{ variant.icmp_ttl }}.
</p>

<p>
    Также файрвол можно использовать для тестирования различных сервисов в условиях нестабильного подключения. Сделайте так, чтобы
    в среднем 25% ICMP-пакетов из <em>сети A</em> в <em>сеть B</em> терялись.
</p>

{{ checkpoint(tasks.icmp_config) }}
{{ check_button("icmp_config") }}
{{ check_log(logs.icmp_config) }}

<p>
    В части 2 вы запретили доступ из наших приватных сетей в интернет. Теперь разрешите отправлять из <em>сети A</em>
    HTTP и HTTPS-запросы на порты 80 и 443 в интернет только на сервер, на котором расположен сайт <code>nerc.itmo.ru</code>.
</p>

{{ checkpoint(tasks.http_access) }}
{{ check_button("http_access") }}
{{ check_log(logs.http_access) }}

{% endblock %}
