{% extends "base.html" %}
{% set title = "Протокол IP" %}
{% set chapter = "ip" %}
{% set breadcrumbs = true %}
{% set ace_modes = ["sh"] %}
{% block main %}
    <article>
    <h1>Протокол IP</h1>

    {% include "util/vpn.html" %}

    <p>Дедлайн — <strong>26 апреля</strong>, 23:59 МСК. После этого задания будут стоить на четверть дешевле.</p>

    <p>Для выполнения этого задания вам понадобится два устройства, подключенных к VPN.</p>

    <p>
        <strong>Дисклеймер.</strong> Команды здесь и далее будут приведены для Linux. Вы можете использовать любую
        другую операционную систему: сдать задания на полный балл можно с использованием любой современной ОС,
        поддерживающей VPN-соединения с использованием TAP-драйвера, однако, действия будут отличаться.
    </p>

    <p>
        После подключения к VPN на вашем устройстве появится новый сетевой интерфейс. Найдите его. На Linux это можно сделать командой <code>ip link</code>. Он, скорее всего, называется <code>tap0</code>. Наш VPN работает на уровне L2: он эмулирует проводное подключение между всеми подключенными вами устройствами и проверяющей системой — как будто вы все подключены к одному свитчу.
    </p>

    <h3>Часть 1. IP-адресация</h3>

    <p>
        Сейчас в сети нет DHCP-сервера — поэтому IP-адрес вам выдать некому. Установите одному из ваших устройств адрес <code>10.123.0.23</code>, маску сети <code>255.255.255.0</code>.
    </p>

    <details>
        <summary>Подсказка</summary>
        <p>На Linux вам понадобится команда <code>ip</code>. Как она работает, можно узнать, запустив
            <code>ip address help</code> или <code>man ip</code>.</p>
        <p>На Mac OS воспользуйтесь командой <code>ifconfig</code>.</p>
        <p>На Windows воспользуйтесь разделом «Изменение параметров адаптеров».</p>
        <p>Помните, что изменение сетевых настроек часто требует прав администратора системы.</p>
    </details>

    <p>Теперь — второе устройство. Ему присвойте адрес <code>10.123.0.24</code> и такую же маску сети.</p>

    <p>Давайте отправим первый пакет — введите в терминале первого устройства команду <code>ping 10.123.0.24</code>. Вы должны увидеть нечто подобное:</p>

    <pre><code>PING 10.123.0.24 (10.123.0.24) 56(84) bytes of data.
64 bytes from 10.123.0.24: icmp_seq=1 ttl=108 time=94.7 ms
64 bytes from 10.123.0.24: icmp_seq=2 ttl=108 time=106 ms
64 bytes from 10.123.0.24: icmp_seq=3 ttl=108 time=62.0 ms
64 bytes from 10.123.0.24: icmp_seq=4 ttl=108 time=63.3 ms</code></pre>

    <details>
        <summary>А если нет?</summary>
        <p>Возможно, вы где-то ошиблись. Проверьте, что вы настроили IP-адреса у правильных интерфейсов.</p>
        <p>Если у вас Windows, вам необходимо <a href="https://support.microsoft.com/ru-ru/windows/%D0%B2%D0%BA%D0%BB%D1%8E%D1%87%D0%B5%D0%BD%D0%B8%D0%B5-%D0%B8-%D0%BE%D1%82%D0%BA%D0%BB%D1%8E%D1%87%D0%B5%D0%BD%D0%B8%D0%B5-%D0%B1%D1%80%D0%B0%D0%BD%D0%B4%D0%BC%D0%B0%D1%83%D1%8D%D1%80%D0%B0-microsoft-defender-ec0844f7-aebd-0583-67fe-601ecf5d774f">отключить фаерволл</a> — полностью или только для сети с нашими лабораторными работами.</p>
        <p>Если всё равно ничего не получилось — напишите нам, будем разбираться.</p>
    </details>

    <p>Наоборот тоже работает — убедитесь сами, запустив <code>ping 10.123.0.23</code> со второго устройства.</p>
    
    <p>Теперь, когда всё работает, самое время попытаться всё сломать. Сначала удалите эти адреса.</p>

    <p><strong>Дисклеймер:</strong> не повторяйте следующий эксперимент в домашних условиях.</p>

    <p>Выберите какую-нибудь случайную IP-сеть, не совпадающие с сетью ИТМО (<code>77.234.0.0/16</code>) и вашей домашней сетью. Например, наверняка вам подойдёт <code>6.6.6.0/24</code> — если вы, конечно, не служите в американской армии. Присвойте устройствам два случайных адреса из выбранной сети. Убедитесь, что устройства всё ещё «видят» друг друга.</p>

    <p>На практике так делать, конечно, не стоит. Тем более, если эксперимент проводится за пределами вашей домашней сети: в какой-то момент у вас (а, может, и у каких-то случайных пользователей сети) перестанет работать часть интернета. Разобраться, в чём же причина, будет очень сложно. Всегда используйте только ваши собственные IP-адреса и приватные сети — <code>10.0.0.0/8</code>, <code>172.16.0.0/12</code> и <code>192.168.0.0/16</code>.</p>

    <p>Попробуйте установить одному устройству адрес <code>10.123.0.17/28</code>, а второму — <code>10.123.0.33/28</code>. «Видят» ли устройства друг друга? Понимаете ли вы, почему?</p>

    <aside>За каждый пройденный чекпоинт вы получите некоторое количество баллов. Для некоторых чекпоинтов нужно решить задание и ввести ответ; а для других нужно сделать какое-то действие в сети. Когда вы решите задание, рядом с чекпоинтом появится галочка.</aside>

    {{ checkpoint(tasks.netcalc) }}

    {% if not tasks.netcalc.is_solved %}
    <p>Определите без практического эксперимента ответ ещё для пары случаев.</p>
    {{ render_form(forms.netcalc) }}
    {% endif %}

    <h3>Часть 2. IPv4</h3>

    <p>Оказывается, в вашей сети есть ещё кто-то. Его IP-адрес — <code>{{ variant.ip4_server }}/24</code>. Установите одному из своих устройств адрес <code>{{ variant.ip4_client }}</code> и отправьте пинг на этот узел.</p>

    {{ checkpoint(tasks.ping4) }}

    <p>Чтобы получить ещё 2 балла, определите MAC-адрес этого узла.</p>

    {{ checkpoint(tasks.mac4) }}

    {% if not tasks.mac4.is_solved %}
    {{ render_form(forms.mac4) }}
    {% endif %}

    <h3>Часть 3. IPv6</h3>

    <p>
        Теперь давайте попробуем разобраться с IPv6.
        Если вы посмотрите, то такой адрес у вас уже появился — хотя никто в сети вам его не говорил.
        Этот адрес начинается с <code>fe80:</code> и называется link-local-адресом. Он формируется
        <a href="https://datatracker.ietf.org/doc/html/rfc4862#section-5.3" target="_blank">автоматически</a> при запуске
        интерфейса из 64-битного идентификатора интерфейса. В MAC-адресе всего 48 бит, а для дополнения до 64 используется
        <a href="https://www.rfc-editor.org/rfc/rfc4291#appendix-A">модифицированный EUI-64 формат</a>.
        С помощью такого адреса кто угодно в пределах локальной сети может прислать вам полноценный IP-пакет, зная только лишь
        ваш MAC-адрес.
    </p>

    <p>
        Узнайте link-local-адреса обоих ваших устройств. Отправьте пинг с одного устройства на другое. Просто так у вас это
        сделать не получится — понадобится передать команде <code>ping</code> нужный интерфейс: LL-адрес не уникален, и в каждой
        локальной сети адресное пространство совпадает. Из-за этого операционная система не знает, в какую именно сеть вы хотите
        отправить этот пакет, если ей это не сказать явно.
    </p>

    <p>
        В вашей сети находится устройство с MAC-адресом <code>{{ variant.ll_mac }}</code>. Используя примеры и RFC, посчитайте
        его link-local-адрес. Проверьте свою догадку, отправив пинг.
    </p>

    {{ checkpoint(tasks.ping_ll) }}

    <p>
        Однако, дальше локальной сети мы так далеко не уйдём. Со SLAAC — каноничным методом получения «глобального»
        IPv6-адреса мы познакомимся позже, а пока в нашей сети нет роутера, придётся настраивать адрес вручную.
        На этот раз ваш адрес <code>{{ variant.ip6_client }}</code>, а маска подсети — /64. Назначьте его одному из ваших устройств.
    </p>

    <p>
        Другому устройству поставьте какой-нибудь ещё адрес в той же подсети. Проверьте, что вы всё настроили верно.
    </p>

    <details>
        <summary>Глобальные? Это как?</summary>
        <p>Тут стоит заметить, что «глобальный» IPv6-адрес не означает «доступный в интернете». Это лишь обозначение
        тех адресов, пакеты между которыми могут быть доставлены за пределами одной локальной сети.</p>
        <p>В частности, адреса, начинающиеся на <code>fd</code>, как правило, не связаны с интернетом, и используются
        в частных сетях (наподобие нашей внутренней). Публичные адреса на сегодняшний день находятся в блоке
        <code>2000:/3</code>.
        </p>
    </details>

    <p>
        После настройки сети попробуйте пропинговать узел <code>{{ variant.ip6_server }}</code> и определить его MAC-адрес.
    </p>

    {{ checkpoint(tasks.ping6) }}

    {{ checkpoint(tasks.mac6) }}

    {% if not tasks.mac6.is_solved %}
    {{ render_form(forms.mac6) }}
    {% endif %}

    <p>
        Попробуйте вычислить link-local-адреса этого и всех остальных узлов в сети. Проверьте вашу догадку, пропинговав
        адрес <code>ff02::1</code>. Это — multicast-адрес, запросы к нему получат все узлы в локальной сети. К нему, конечно,
        тоже нужно указывать интерфейс. Обратите внимание: на один пинг-запрос вы получите сразу несколько ответов.
        Так можно узнать, сколько всего устройств (если считать, что IPv6 поддерживается практически любым чайником) есть
        в вашей локальной сети.
    </p>

    <h3>Часть 4. MTU</h3>

    <p>
        Последнее задание — чуть сложнее, чем обычно. До хоста <code>{{ variant.ip6_server }}</code> не доходят большие пакеты.
        Определите максимальный размер пакета, который принимает этот узел. Укажите его в байтах.
    </p>

    {{ checkpoint(tasks.mtu) }}

    {% if not tasks.mtu.is_solved %}
    {{ render_form(forms.mtu) }}
    {% endif %}


    {% include "util/summary.html" %}
    {% include "util/report.html" %}
    </article>
{% endblock %}
