{% extends "base.html" %}
{% set title = "Смена пользователя" %}
{% set breadcrumbs = true %}
{% block main %}
<article>
<h1>Смена пользователя</h1>
<aside><strong>Важно:</strong> все ваши действия будут выполняться от имени этого пользователя — например, если активировать задание или отправить ответ, действие выполнится так, как будто это сделал указанный пользователь.</aside>
<p>Укажите ID пользователя, чтобы авторизоваться от его имени.</p>
{{ render_form(form) }}
<p>Нажмите кнопку «Выйти» на главной странице, чтобы вернуться в свой аккаунт.</p>
</article>
{% endblock %}
