{% extends "base.html" %}
{% block main %}
<p>Вы — [{{ user.id }}] {{ user.name }}. <a href="{{ url_for("auth:logout") }}">Выйти</a></p>

<article>
<h1>Компьютерные сети, весна 2023/24</h1>

{% if user.is_admin %}
<p>
    <a href="{{ url_for("networking:scoreboard") }}">Результаты курса</a><br/>
    <a href="{{ url_for("auth:admin:impersonate") }}">Смена пользователя</a>
</p>
{% endif %}

<p>Вы набрали {{ overall_score }} балл{{ overall_score|ending("", "а", "ов") }}.</p>

<h3>Домашние задания</h3>

<p><a href="{{ url_for("networking:vpn:setup") }}">Настройка VPN</a></p>

<p>Вы набрали {{ overall_chapter_score }} из {{ total_chapter_score }} балл{{ total_chapter_score|ending("а", "ов", "ов") }}.</p>

<div class="chapter-table">
    {% for chapter in chapters -%}
    <input type="checkbox" id="{{ chapter.slug }}" />
    <label for="{{ chapter.slug }}"><span>{{ loop.index }}. <a href="{{ url_for('networking:' + chapter.slug + ':page') }}">{{ chapter.chapter.name }}</a></span></label>
    <div class="chapter-tasks">
        {%- for result in chapter.results -%}
        {%- with task = result.task %}
        <div>
            {%- if result.is_solved -%}
            ✔️
            {%- else -%}
            ❌
            {%- endif -%}
        </div>
        <div>{{ task.name }}</div>
        <div>{{ result.score or 0 }} / {{ task.points }}</div>
        {%- endwith -%}
        {% endfor -%}
    </div>
    {% endfor -%}
</div>

<p>
    Выполняйте задания самостоятельно. Вы можете искать информацию в интернете, задавать вопросы своим однокурсникам и
    любым другим людям, но все скрипты и команды должны быть написаны лично вами, и вы должны понимать, что они делают.
    В случае обнаружения плагиата (это может произойти и после того, как задание будет зачтено), мы можем аннулировать
    задание у обоих студентов или пригласить вас на защиту работы — вам нужно будет объяснить, что вы делали,
    и выполнить непосредственно во время защиты какие-то несложные похожие дополнительные задания.
</p>
<p>
    Тестирующая система не совершенна — вы можете исследовать её на наличие уязвимостей, но не нарушайте стабильность
    её работы, и не эксплуатируйте её уязвимости для получения баллов или правильных ответов без выполнения заданий.
    Если вы нашли уязвимость, пожалуйста, не рассказывайте всем, а напишите <a href="https://t.me/nsychev">Никите
    Сычёву</a>. Я постараюсь исправить её в кратчайшие сроки, а вы сможете получить бонусные баллы.
</p>
<p>
    Не генерируйте много трафика через выданный вам VPN-туннель. Передавать больше единиц мегабайт данных через
    него — плохая идея. Мы можем ограничивать пропускную способность туннеля студентам, которые нарушают это правило.
</p>

<p>
    Финальный дедлайн по домашним заданиям — 10 июня, 23:59 МСК. Мы не гарантируем, что какие-либо баллы, набранные
    после этого момента, смогут попасть в ведомости. Домашние задания будут доступны до ноября для пересдающих студентов.
    Мы рекомендуем решать задания летом: осенью выделенные на задания ресурсы могут быть (и будут) сокращены.
</p>

<h3>Письменный тест</h3>

<p>
    Письменный тест будет проведён онлайн 25 июня в 12:00.
</p>

<p>
    {% if user.exam is not none %}
    Вы набрали {{ user.exam.test_points }} балл{{ user.exam.test_points|ending("", "а", "ов") }}.
    {% endif %}
    <a href="https://docs.google.com/spreadsheets/d/e/2PACX-1vRL44O-WGi5-GhU3bI5OTAk8BCGxIN_6G_nLVfc9eo-bOzFbs_HBd0wkEVJ56HsmeGsr-tt42_leeFr/pubhtml?gid=1736302977&single=true">Все результаты теста</a>
</p>

<p>
    Каждый вопрос теста подразумевает готовый ответ либо решение небольшой практической задачи.
    Во время теста можно пользоваться любыми источниками информации.
</p>

<h3>Устный экзамен</h3>

<p>
    Устный экзамен будет проведён онлайн на следующий день после письменного теста. Расписание сдачи будет опубликовано вместе с баллами за тест. Чтобы прийти на устный экзамен, укажите ваше пожелание в тесте.
    Номер вашего билета появится за 15 минут до времени сдачи.
</p>

{% if user.exam is not none and user.exam.ticket is not none %}
{% if user.exam.final_points %}
<p>
    Вы набрали {{ user.exam.final_points }} баллов.
</p>
{% elif user.exam.ticket_time is none %}
<p>
    <strong>Что-то пошло не так. Сообщите в чат курса.</strong>
</p>
{% elif now() >= user.exam.ticket_time %}
<p>
    Ваш билет — <strong>{{ user.exam.ticket }}</strong>. Через 15 минут после выдачи
    (или чуть позже) мы пригласим вас в комнату в Zoom для ответа. Не забудьте поменять
    ваше имя в Zoom на настоящее, чтобы мы вас нашли.
</p>
{% else %}
<p>
    Вы увидите ваш номер вашего билета на этом месте в <strong>{{ user.exam.ticket_time|moscowtime }}</strong>.
    После этого у вас будет 15 минут на подготовку.
</p>
{% endif %}
{% else %}
<p>
    Вы не записаны на устный экзамен. Если вы считаете, что это ошибка, напишите в чат курса.
</p>
{% endif %}

<p>
    Вам будет необходимо рассказать полученный билет, а также ответить на дополнительные вопросы (как по вашему билету,
    так, возможно, обзорно и по другим).
</p>

<p>Список билетов:</p>

<ol>
    <li>Стек OSI, различие между уровнями.</li>
    <li>Протоколы IPv4 и IPv6. Локальные сети и NAT. Специальные адреса. Фрагментация. Протокол ICMP.</li>
    <li>Ethernet-фреймы. ARP и ND. SLAAC и DHCP.</li>
    <li>Протоколы UDP и TCP. Three-way handshake, TCP Fast Open, TCP congestion control.</li>
    <li>Протокол DNS. IDN. Reverse DNS. Типы записей. Иерархия серверов, рекурсивные сервера. DNSSEC. Whois.</li>
    <li>Протокол HTTP. URL. Форматы запросов и ответов. Cookies, кеширование, Range-запросы. HTTP/2, HTTP/3.</li>
    <li>Протоколы SSL/TLS. Сертификаты и CA. CRL и OCSP. Сессионные ключи и Forward secrecy. (E)SNI. HSTS. Certificate Transparency.</li>
    <li>VPN. tun/tap. OpenVPN, Wireguard, Proxy, SOCKS5, Shadowsocks. IPSec. MPLS. TOR.</li>
    <li>Ethernet. CSMA/CD. VLAN. DWDM. WiFi. DFS.
{#    <li>Маршрутизация. RIP. OSPF. IS-IS. BGP. Автономные системы.</li> #}
</ol>

<h3>Как получить оценку?</h3>

<p>
    Баллы за домашние задания указаны в условии задания. Также вы можете нажать на стрелку у любого задания и увидеть разбалловку.
</p>

<p>
    Баллы предварительные — 12 мая мы умножим их на такой коэффициент, что все задания суммарно будут стоить около 60 баллов.
</p>

<p>
    У каждого задания есть дедлайн. При сдаче домашнего задания после дедлайна вы теряете четверть стоимости задания.
</p>

<p>
    За письменный тест можно получить от 0 до 30 баллов. При этом суммарно за домашние задания и письменный тест можно получить не более 90 баллов.
</p>

<p>
    Для допуска к устному экзамену необходимо набрать суммарно за домашние задания и письменный тест более 74 баллов. По итогам сдачи устного экзамена можно получить любую оценку от имеющейся у вас до A. Эта оценка является финальной оценкой за курс.
</p>
<p>
    <strong>Обратите внимание:</strong> требования для получения оценки не зависят от ваших текущих баллов — на А нужно ответить одинаково хорошо вне зависимости от того, пришли вы на экзамен с 75 баллами или с 90.
</p>

<h3>Fast Track</h3>

<p>Если вы считаете, что уже и так хорошо знаете материал курса, вы можете поучаствовать в Fast Track. Формат состоит в разработке новых домашних заданий для нашего курса. Чтобы принять участие, напишите <a href="https://t.me/nsychev">Никите Сычёву</a> до 13 апреля.</p>

<p>
    В случае успешного выполнения задания, вы получите от 20 до 60 баллов. Точное количество баллов зависит от сложности задания, качества выполнения и соблюдения дедлайнов.
</p>

<p>Для студентов, получивших баллы за Fast Track, также снимается ограничение в 90 баллов без устного экзамена.</p>

<h3>Пересдача</h3>

<p>В рамках пересдачи можно досдать домашние задания и пересдать устный экзамен. Пересдачи письменного теста не будет.</p>

<p>Баллы за домашние задания умножаются на 1,5. Суммарно за домашние задания и письменный тест (если вы писали его во время сессии) вы сможете получить не более 74 баллов.</p>

<p>Для допуска к устному экзамену необходимо набрать более 66 баллов. По итогам пересдачи устного экзамена можно получить любую оценку от имеющейся у вас до A.</p>

</article>
{% endblock %}
