{% extends "base.html" %}
{% set title = "Результаты курса" %}
{% set breadcrumbs = true %}
{% block main %}
<article>
<h1>Результаты курса</h1>

<table class="scoreboard">
    <thead>
        <tr>
            <th rowspan="2">ID</th>
            <th rowspan="2">Студент</th>
            <th rowspan="2">Баллы</th>
            <th rowspan="2">Тест</th>
            <th rowspan="2">Экз</th>
            {%- for chapter in chapters %}
            <th colspan="{{ chapter.tasks|length }}">{{ chapter.slug }}</th>
            {%- endfor %}
        </tr>
        <tr>
            {%- for chapter in chapters %}
            {%- for task in chapter.tasks %}
            <th>{{ task.slug }}</th>
            {%- endfor %}
            {%- endfor %}
        </tr>
    </thead>
    <tbody>
        {%- for user_meta in users %}
        {%- set user = user_meta.user %}
        <tr {%- if user.exam is not none and user.exam.has_debt %} style="background-color: #fd7c6e;" title="Была задолженность"{% endif %}>
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{% if user.exam is none %}{{ user_meta.score }}{% else %}{{ user.exam.calculate_points(user_meta.score) }}{% endif %}</td>
            <td>{% if user.exam is not none %}{{ user.exam.test_points }}{% endif %}</td>
            <td>{% if user.exam is not none %}{{ user.exam.final_points or "" }}{% endif %}</td>
            {%- for chapter in user_meta.chapters %}
            {%- for result in chapter.results %}
            <td>
                {%- if result.score -%}
                {%- if not result.is_solved -%}
                {{ result.score}}*
                {%- else -%}
                {{ result.score }}
                {%- endif -%}
                {%- endif -%}
            </td>
            {%- endfor %}
            {%- endfor %}
        </tr>
        {%- endfor %}
    </tbody>
</table>
</article>
{% endblock %}
