html {
    font-family: 'Golos Text', sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

main {
    max-width: 1200px;
    margin: 0 auto;
}

footer { 
    margin: 2em 0;
}

footer span {
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    padding: 0.5em 1em 0 0em;
}

@media screen and (min-width: 1200px) {
    article {
        position: relative;
    }

    aside {
        position: absolute;
        left: 800px;
        padding: 0 1em;
        width: 400px;
        box-sizing: border-box;
    }
}

@media screen and (max-width: 1199px) {
    aside {
        padding-left: 1em;
        border-left: 1px solid rgba(0, 0, 0, 0.4);
    }
}


article {
    font-family: 'Vollkorn', serif;
    font-feature-settings: 'lnum';
    font-size: 1.2em;
    max-width: 800px;
}

h1, h2, h3 {
    font-family: 'Golos Text', sans-serif;
}

code {
    font-family: 'JetBrains Mono', monospace;
    font-size: 0.8em;
}

details {
    padding-left: calc(1em + 1px);
}

details[open] {
    padding-left: 1em;
    border-left: 1px solid rgba(0, 0, 0, 0.4);
}

details summary {
    cursor: pointer;
}

table {
    border-collapse: collapse;
}
td, th {
    border: 1px solid black;
    padding: 0.3rem;
    margin: 0;
}

.ace {
    display: none;
}

.csrf-error {
    background-color: rgba(255, 0, 0, 0.3);
    border: 1px solid red;
    padding: 1em;
}

input[type=text] {
    font-family: 'JetBrains Mono', monospace;
    font-size: 0.8em;
    width: 100%;
}

input[type=submit], input[type=button], button {
    font-family: 'Golos Text';
    border: none;
    padding: 0.3em 1em;
    cursor: pointer;
}

table.results {
    margin-top: 10px;
}

table.results,
table.results td,
table.results th {
    border: none;
}

table.results td,
table.results th {
    padding: 5px 15px;
}

table.results td:last-child {
    text-align: right;
}

table.results th {
    background-color: #fafafa;
}
